@font-face  {
  font-family: 'MatrixCode';
  src: url("matrix code nfi.otf") format("opentype");
}

html, body  {
	background: #000;	
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: hidden;
}

h1 {
 color: #fff;
}

canvas { 
	font-family: 'MatrixCode';
}

p {
	 font-family: 'MatrixCode';
	 color: #fff;
}